.container{
max-width: 720px;
display: flex;
flex-direction: column;
margin: 4rem auto;
padding: 0 2rem;


}


.containerHeader{
    display: flex;
    flex-direction: row;

    button{
       background: transparent;
       border: 0;
       margin-left: 1rem;
       cursor: pointer;
      transition: all 0.3s ease;
      
    }

    h1{
        color: var(--white);
    }

    button:active {
    //    transform: translateY(4px); /* Desloca o botão ligeiramente para baixo */ 
    
        animation: animate 1s  infinite;  
    }

   
}

.pressed{
    transform: translateY(2px);
}



.listOrders{
   display: flex;
   flex-direction: column;
   margin: 1rem 0; 
}


.orderItem{
    display: flex;
    flex-direction: row;
    background-color: var(--dark-900);
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.3rem;

    button{
        border: 0;
        background-color: transparent;
        font-size: 1.2rem;
        color: var(--white);
        height: 60px;
        align-items: center;
        display: flex;
        cursor: pointer;
   
    }
}

.tag{
    width: 9px;
 background-color: var(--gren-900);
 height: 60px;
 border-radius: 0.3rem  0  0   0.3rem;

}


.emptyList{
    font-size: 1.2rem;
    color: var(--gray-100);
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}




  

